@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap');

/* Define your color scheme here */
:root {
  --primary-color: #fa5a5a; /* Reddish-Pink */
  --secondary-color: #6b7bff; /* Blue */
  --text-color: #333; /* Dark Gray */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.container {
  padding: 4rem 10rem; /* Adjust the padding to make the container larger */
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.result_images {
  display: flex;
  column-gap: 7rem;
}

.container.start.user_result {
  transform-origin: left;
  animation: userShake 0.7s ease infinite;
}

@keyframes userShake {
  50% {
    transform: rotate(10deg);
  }
}

.container.start.cpu_result {
  transform-origin: right;
  animation: cpuShake 0.7s ease infinite;
}

@keyframes cpuShake {
  50% {
    transform: rotate(-10deg);
  }
}

.result_images img {
  width: 100px;
}

.user_result img {
  transform: rotate(360deg);
}

.cpu_result img {
  transform: rotate(-360deg) rotateY(180deg);
}

.result {
  text-align: center;
  font-size: 2rem;
  margin-top: 1.5rem;
}

.option_image img {
  width: 50px;
}

.option_images {
  display: flex;
  align-items: center;
  margin-top: 2.5rem;
  justify-content: space-between;
}

.container.start.option_images {
  pointer-events: none;
}

.option_image {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.8;
  cursor: pointer;
  transition: opacity 0.3s ease;
}

.option_image:hover {
  opacity: 1;
}

.option_image:active {
  opacity: 1;
}

.option_image img {
  pointer-events: none;
}

.option_image p {
  font-size: 1.235rem;
  margin-top: 1rem;
}
